{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>


    <!-- Title -->
    <title>Instagram Profile Layout</title>

    <!-- External CSS Files -->
    <link rel="stylesheet" href="{% static 'assets3/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'assets3/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

</head>
<body>

    <header>
        <br><br><br>
        <div class="container">

            <div class="profile">

                <div class="profile-image">

                    <img src="{{profile.image.url}}" alt="" style="width: 200px; height: 200px;">

                </div>

                <div class="profile-user-settings">
                        {% if profile.first_name %}
                        <h6 class="profile-user-name">{{profile.first_name}} {{profile.last_name}}</h6><br> <br>
                        {% endif %}
                        <h5 style="font-size: 15px;" class="profile-user-name">@{{profile.user.username}}</h5>

                        {% if request.user.is_authenticated and request.user == profile.user %}
                        <a style="text-decoration: none;" href="{% url 'editprofile' %}" class="btn profile-edit-btn">Edit Profile</a>
                        <a style="text-decoration: none;" href="{% url 'sign-out' %}" class="btn profile-edit-btn">Logout</a>
                        <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

                        
                        {% endif %}
                        <br><br>
                        {% if request.user.is_authenticated and request.user != profile.user %}
                            {% if follow_status == True %}
                                <a href="{% url 'follow' profile.user 0 %}" class="btn profile-edit-btn" style="color: red;">Unfollow</a> <br><br>
                            {% else %}
                                <a href="{% url 'follow' profile.user 1 %}" class="btn profile-edit-btn" style="color: green;">Follow</a> <br><br>
                            {% endif %}
                        {% endif %}

                        {% if request.user.is_authenticated and request.user != profile.user %}
                                <a href="{% url 'conversation' profile.user  %}" class="btn profile-edit-btn">Message</a> <br><br>
                        {% endif %}
                        <br>

                    
                    
                    
                    

                </div>

                

                <div class="profile-bio">
                    <br>
                    
                    <p><span class="profile-real-name"></span>{{profile.bio}}</p>
                   
                    
                    <p><span class="profile-real-name"></span>Location : {{profile.location}}</p>
                    
                  
                    <p><span class="profile-real-name"></span>◉ <a href="{{profile.url}}">{{profile.url}}</a></p>
                    
                    <br><br>
                  
                </div>


                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">{{posts_count}}</span> posts</li>
                        <li><span class="profile-stat-count">{{followers_count}}</span> followers</li>
                        <li><span class="profile-stat-count">{{following_count}}</span> following</li>
                    </ul>
                    <br>
                    
                </div>

            </div>

        </div>

    </header>
    
    <main>

        <div class="container">

            <div class="gallery">
              


            </div>

        </div>

    </main>
    {% endblock content %}
